.organisation-post {
    &__header {
        margin-top: 0.5rem;
    }

    &__title {
        font-size: 1.3rem;
        margin: 0;
    }

    &__subtitle {
        font-size: 1.1rem;
        font-weight: 700;

        margin-top: 0.5rem;
    }

    &__time {
        font-size: 0.9rem;
    }

    ul {
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
