@import 'import.scss';

.techs-module {
    &__category-title {
        @extend .section-title;
    }

    &__category-subtitle {
        font-size: 1.1rem;
        font-weight: 700;

        margin-top: 1rem;
        margin-left: 0.5rem;
    }

    &__category-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;

        margin: 0.5rem 0 1rem;
    }

    &__category-item {
        &-3 {
            flex: 0 1 33%;
        }

        &-2 {
            flex: 1 1 50%;
        }
    }
}
