@import 'import.scss';

.techs-module {
    &__category-title {
        @extend .section-title;

        padding-top: 0.5rem;

        &:first-child {
            padding-top: 0;
        }
    }

    &__category-subtitle {
        @extend .section-subtitle;

        margin-top: 1rem;
        margin-left: 1rem;
    }

    &__category-list {
        margin: 0.5rem 0 1rem;
    }

    &__category-item {
        padding: 0.1rem 0;
    }
}
